<% @events.each do |event| %>
  <div class="booyah-box col-10 offset-1 my-3 py-3">
    <h1 class="mb-2"><%= link_to event.vaccine_type, event_path(event) %></h1><br />
    <p class="mb-2 font-italic"><%= event.date.strftime("%m-%d-%Y") %></p>
    <p><%= event.notes %></p>

    <% if event.user.present? %>
      <small><%= event.user.email %></small>
    <% end %>
  </div>
<% end %>

<div class="pagination m-5 float-right">
  <%= will_paginate @events, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: h("<"), next_label: h(">"), inner_window: 1, outer_window: 0 %>
</div>