<div class="carouselContainer">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
    		<%= image_tag 'slider1.jpg', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
        	<h3>Track Your Cat's Health</h3>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'slider2.jpg', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Happy Cat Happy Life</h3>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'slider3.jpg', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Keep Your Cat's Vaccines Up-To-Date</h3>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



  <div class="container p-4 our-mission index-text">

    <h1 class="text-center font-weight-bold mb-4 index-header">Our Mission</h1>
    
    <div class="d-flex justify-content-center float-md-right">
    <%= image_tag('mission.jpg', class: 'figures img-fluid ml-md-4 mb-3') %>
    </div>
    
    <p>At Catty Crap, our mission, plain and simple, is cats.</p>
    
    <ul>
      <p>We know cats.</p>
      <p>We love cats.</p>
      <p>We want to "catify" the world.</p>
    </ul>
    
    <p>
      We know that being a cat owner comes with some hefty responsibilities.
      At Catty Crap, we want to help you take care of your cat's figurative crap (i.e., vaccine appointments).
      The big stuff.
      That way you can spend less time worrying about your cat and more time playing with your cat.
    </p>
    
    <div class="clearfix"></div>
    
  </div>

  <div class="container p-4 about-us index-text">

    <h1 class="text-center font-weight-bold mb-4 index-header">About Us</h1>
    
    <div class="d-flex justify-content-center float-md-left">
    <%= image_tag('about.jpg', class: 'figures img-fluid mr-md-4 mb-3') %>
    </div>
    
    <p>
      CEO and Founder Ana Boca started Catty Crap in 2019. 
      As a cat lover and owner, Ana wanted a handy way to track her cats' health.
      However, no application existed to track vaccine appointments for cats. 
      Ana did not like the idea of relying on whatever email reminder system of her current vet office. 
    </p>

    <p>
      What happened if Ana and her cats moved to a different city or state?
      What if she wanted to switch to a different vet's office?
      What if the new vet's office didn't have a vaccine tracking system?
    </p>

    <p>
      Ana wanted a way to track her cats' vaccinations indpendent of the various systems at each individual vet office.
      So, Ana developed Catty Crap as a way for cat owners and cat lovers alike to track and take care of a cat's figurative "crap."
    </p>
    
    <div class="clearfix"></div>
    
  </div>

    <div class="container p-4 our-mission index-text">

    <h1 class="text-center font-weight-bold mb-4 index-header">Core Vaccines</h1>
    
    <div class="d-flex justify-content-center float-md-right">
    <%= image_tag('vaccines.jpg', class: 'figures img-fluid ml-md-4 mb-3') %>
    </div>
    
    <p>According to <%= link_to("PetMD.com", "https://www.petmd.com/cat/wellness/essential-cat-vaccinations", target: "_blank") %>, there are four core vaccines for cats:</p>
    
    <ul>
      <li>Rabies</li>
      <li>FVRCP:</li>
        <ul>
          <li>Feline Rhinotracheitis Virus/Herpesvirus 1 (FVR/FHV-1)</li>
          <li>Feline Calicivirus (FCV)</li>
          <li>Feline Panleukopenia (FPV)</li>
        </ul>
    </ul>
    
    <p>The Rabies Vaccine should be updated at:</p>
    <ul>
      <li>1 year of age</li>
    </ul>

    <div class="clearfix"></div>
    
  </div>