<div class="booyah-box col-10 offset-1 my-3 py-3">
  <h1>Enter Your Cat Vaccine Details</h1>
  <%= simple_form_for @event do |f| %>
    <%= f.input :vaccine_type %>
    <%= f.input :date %>
    <%= f.input :notes %>
    <br />
    <%= f.submit 'Create', class: 'btn' %>
  <% end %>
</div>